<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR" data-theme="dracula">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
  <title>Ala Form</title>
</head>
<body>

<h1 class="text-3xl text-primary font-bold p-8"
    th:text="${ala.id != null} ? 'Editar Ala' : 'Nova Ala'"></h1>

<main class="grid grid-cols-1 gap-4 p-4 place-items-center">
  <form th:object="${ala}"
        th:action="${ala.id != null} ? '/alas/editar/' + ${ala.id} : '/alas'"
        method="post"
        class="w-full max-w-md card p-6 bg-base-300">

    <fieldset class="mb-4">
      <label class="label" for="nome">
        <span class="label-text">Nome da Ala</span>
      </label>
      <input th:field="*{nome}" type="text" id="nome" class="input input-bordered w-full" />
      <p class="text-error mt-1" th:errors="*{nome}"></p>
    </fieldset>

    <div class="flex justify-between mt-6">
      <a th:href="@{/alas}" class="btn btn-neutral">Cancelar</a>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

  </form>
</main>

</body>
</html>
